.rw-datetimepicker > input {
	border: none !important;
}

.rw-datetimepicker .rw-calendar-grid.rw-nav-view .rw-btn {
	padding: 0 !important;
}

.dateTimePickerAutoWidth {
	width: auto;
	display: inline-flex;
}

.dateTimePickerAutoWidth > input {
	width: auto;
}

.react-datepicker-wrapper {
	width: 100%;
	display: inline !important;
}

.react-datepicker__input-container {
	display: inline !important;
}

.react-datepicker-popper {
	z-index: 5 !important;
}
