@import "../../../../node_modules/react-widgets/dist/css/react-widgets.css";
@import "../../../../node_modules/react-datepicker/dist/react-datepicker.css";

:global(.rw-datetimepicker) > input {
	border: none !important;
}

:global(.rw-datetimepicker) :global(.rw-calendar-grid.rw-nav-view) :global(.rw-btn) {
	padding: 0 !important;
}

:global(.dateTimePickerAutoWidth) {
	width: auto;
	display: inline-flex;
}

:global(.dateTimePickerAutoWidth) > input {
	width: auto;
}

:global(.react-datepicker-wrapper) {
	display: inline;
}

:global(.react-datepicker__input-container) {
	display: inline;
}
