@import "../../../node_modules/react-widgets/dist/css/react-widgets.css";

.rw-datetimepicker > input {
	border: none !important;
}

.rw-datetimepicker .rw-calendar-grid.rw-nav-view .rw-btn {
	padding: 0 !important;
}

.dateTimePickerAutoWidth {
	width: auto;
	display: inline-flex;
}

.dateTimePickerAutoWidth > input {
	width: auto;
}
